<ion-header>
  <div class="header">
    <ion-img src="/assets/Icon_menu.svg" (click)="goToProfile()" class="header-menu" *ngIf="!isBackBtnAvailable"></ion-img>
    <ion-img src="/assets/Icon_left.svg" (click)="goToBack()" class="header-left" *ngIf="isBackBtnAvailable"></ion-img>
    <ion-img src="/assets/header-logo.png" class="header-logo"></ion-img>
    <a href="tel:+79127364618" class="button button-positive"><ion-img src="/assets/Icon_call.svg" class="header-call"></ion-img></a>

  </div>
</ion-header>
