.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px;
  margin-bottom: 36px;
  background-color: white;
}

.header-logo {
  height: 46px;
}

.header-call {
  height: 20px;
  width: 20px;
}

.header-menu {
  height: 20px;
  width: 20px;
}

.header-left {
  height: 20px;
  width: 20px;
}
