<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="main" href="/tabs/main">
      <ion-icon name="home-sharp" class="icon"></ion-icon>
      <ion-label class="label">Главная</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="card" href="/tabs/card">
      <ion-badge color="danger" *ngIf="basketService.productInBasket.length">{{ basketService.productInBasket.length }}</ion-badge>
      <ion-icon name="basket" class="icon-2"></ion-icon>
      <ion-label class="label">Корзина</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="notification" href="/tabs/notification">
      <ion-badge color="danger">1</ion-badge>
      <ion-icon name="notifications" class="icon"></ion-icon>
      <ion-label class="label">Уведомления</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="profile" href="/tabs/profile">
      <ion-icon name="person-circle" class="icon-2"></ion-icon>
      <ion-label class="label">Профиль</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
