<app-header [isBackBtnAvailable]=true></app-header>
<ion-content [fullscreen]="true">
  <div class="header">

  </div>


  <div *ngFor="let sort of strawberries$ | async" class="strawberry-sort">
    <ion-card>
      <img alt="Strawberry plants" src="{{sort.image}}" />
      <ion-card-header>
        <ion-card-title>{{sort.sortName}}</ion-card-title>
        <ion-card-subtitle>{{sort.subtitle}}</ion-card-subtitle>
      </ion-card-header>

      <ion-card-content>
        {{sort.description}}
        <div class="progress-text">
          {{ prepareTextForProgressBar(sort.days) }}
        </div>
      <div class="progress">
        <ion-progress-bar [value]="prepareDataForProgressBar(sort.days)" color="success"></ion-progress-bar>
      </div>

        <div class="buy-buttons">
          <div class="select">
            <ion-list>
              <ion-item>
                <ion-select [(ngModel)]="selectedOption" aria-label="Укажите вес" value="500gr">
                  <ion-select-option value="500">0.5 кг</ion-select-option>
                  <ion-select-option value="1000">1 кг</ion-select-option>
                  <ion-select-option value="2000">2 кг</ion-select-option>
                  <ion-select-option value="3000">3 кг</ion-select-option>
                  <ion-select-option value="4000">4 кг</ion-select-option>
                  <ion-select-option value="5000">5 кг</ion-select-option>
                  <ion-select-option value="6000">6 кг</ion-select-option>
                  <ion-select-option value="7000">7 кг</ion-select-option>
                  <ion-select-option value="8000">8 кг</ion-select-option>
                  <ion-select-option value="9000">9 кг</ion-select-option>
                  <ion-select-option value="10000">10 кг</ion-select-option>
                </ion-select>
              </ion-item>
            </ion-list>
          </div>

          <div class="add-to-basket-btn">
            <ion-button size="default" (click)="writeResult(sort)">Добавить в корзину</ion-button>
          </div>
        </div>
      </ion-card-content>

    </ion-card>
  </div>
</ion-content>
