<app-header [isBackBtnAvailable]=false></app-header>

<ion-content [fullscreen]="true">
  <div class="slogan">
    <h2>Только у нас все самое свежее и прямо с грядки</h2>
  </div>

  <div class="categories">
    <div class="categories-header">
      <h2 class="categories-title">Категории</h2>
      <a href="#" class="categories-link">Весь ассортимент</a>
    </div>

    <div class="categories-slider">
      <div class="categories-berries categories-item">
        <div class="berries categories-image"></div>
        <p class="berries-name">Ягоды</p>
      </div>
      <div class="categories-vegetables categories-item">
        <div class="vegetables categories-image"></div>
        <p class="berries-name">Овощи</p>
      </div>
    </div>
  </div>

  <div class="photos-and-videos">
    <div class="video">
<!--      <video src="/assets/promo-video.mp4"></video>-->
    </div>
    <div class="photos">
<!--      <img class="photo-1" src=""></img>-->
<!--      <img class="photo-2"></img>-->
    </div>
  </div>

  <div class="about-us-block">
    <p class="about-us-block-header">О нас</p>
    <p class="about-us-text">Теплица круглый год.
      В этом деле нужны большие знания, так же нужны вложения и ежедневный труд для получения урожая. В своём деле мы используем проверенные сорта и только органические удобрения. Без труда наших сотрудников, вы не смогли бы насладиться нашим качественным продуктом.</p>
    <div class="about-us-photos">
      <div class="about-us-line-1">
        <!--      <img class="photo-1" src=""></img>-->
        <!--      <img class="photo-2"></img>-->
      </div>
      <div class="about-us-line-2">
        <!--      <img class="photo-1" src=""></img>-->
        <!--      <img class="photo-2"></img>-->
      </div>
    </div>
  </div>

</ion-content>
